@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Montserrat:wght@100;200;300;500;700&family=Pixelify+Sans&family=Quicksand:wght@300&family=Source+Code+Pro:ital@1&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* FONTS */
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
    display: inline;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 25px;
    display: inline;
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #548f6e;
    text-transform: uppercase;
}
/* FONTS */

/* BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY */
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY */

/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
.header {
    width: 100%;
    box-shadow: 0 4px 15px -2px gray;
    position: fixed;
    top:0;
    z-index: 100;
    background-color: #fff;
}
nav{
    height: 100%;
    padding: 10px;
}
.options {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    place-items: center;
}

/* LEFT */
.logo{
    display: grid;
    place-items: center;
}
.logo-img{
    width: 50%;
    height: 50%;
}
/* LEFT */

/* MIDDLE */
.main-btns {
    width: 100%;
    display: inline-flex;
    justify-content: start;
    transition: opacity 0.5s;

}
.main-btns a{
    margin-left: 30px;
}
.dropdown-item{
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
    padding: 5px !important;
}
/* MIDDLE */

/* RIGHT */
.login-btn-container{
    display: grid;
    place-content: center;
}
.login-btn{
    padding: 15px;
    border-radius: 5px;
    background-color: #7ACD9E;
    transition: all 0.5s;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 15px -2px gray;
    letter-spacing: 2px;
}
.login-img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.login-btn a{
    font-size: 14px !important;
}
.login-btn:hover{
    background-color: #548f6e;
    scale: 1.1;
    transition: all 0.5s;
    color: #fff;
}
/* RIGHT */

/* GENERAL */
.logo a,
.main-btns a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;
    align-items: center;
}
.logo a:hover,
.main-btns a:hover{
    color: #7ACD9E;
    transition: color 0.5s;
}

#btn0{
    position: relative;
    left: -100%;
    animation: slide-in 2s forwards;
}
#btn1{
    position: relative;
    left: -100%;
    animation: slide-in 1.5s forwards;
}
#btn2{
    position: relative;
    left: -100%;
    animation: slide-in 1.2s forwards;
}
#btn3{
    position: relative;
    left: -100%;
    animation: slide-in 0.8s forwards;
}
#btn4{
    position: relative;
    left: -100%;
    animation: slide-in 0.7s forwards;

}

/* ANIMATION  */
@keyframes slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0; /* Llega a su posición actual */
    }
}

@media (max-width: 1200px) {
    .login-btn,.button,.main-btns{
        scale: 0.8;
    }
    .login-btn:hover{
        scale: 0.9;
    }
}

/* GENERAL */
/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */

/* SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 */

.laboratorios {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    display: grid;
    place-items: center;
}
.container-labs {
    margin-top: 50px;
    width: 80%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 25%);
}
.laboratorio {
    height: 60%;
    width: 80%;
    background-color: #7ACD9E;
    box-shadow: 10px 10px 0px 0px #548f6e;
    transition: all 0.3s;
    display: flex;
    text-decoration: none;
}
.laboratorio:hover{
    background-color: #62a57e;
    scale: 1.04;
    transition: all 0.3s;

}
.lab-title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    margin-inline: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}
.lab-title-text{
    font-size: 20px;
    font-weight: 500 !important;

}
.lab-icon{
    width: 80%;
    height: auto;
    position: absolute;
    z-index: 1;
    opacity: 0.15;
}
/* SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 - SECTION-1 */