@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Montserrat:wght@100;200;300;500;700&family=Pixelify+Sans&family=Quicksand:wght@300&family=Source+Code+Pro:ital@1&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}
/* FONTS */
h1{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;

}
h2{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;

}
h3{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: 20px;
    margin-block: 20px;
    text-transform: uppercase;

}
h4{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;

}
h5{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #548f6e !important;
    text-transform: uppercase;
    margin-block: 10px;
}
h6{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px;
    font-weight: 500;
}
/* FONTS */

/* BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY */
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY */

/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */
.header {
    width: 100%;
    box-shadow: 0 4px 15px -2px gray;
    position: fixed;
    top:0;
    z-index: 100;
    background-color: #fff;
}
nav{
    height: 100%;
    padding: 10px;
}
.options {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    place-items: center;
}

/* LEFT */
.logo{
    display: grid;
    place-items: center;
}
.logo-img{
    width: 50%;
    height: 50%;
}
/* LEFT */

/* MIDDLE */
.main-btns {
    width: 100%;
    display: inline-flex;
    justify-content: start;
    transition: opacity 0.5s;

}
.main-btns a{
    margin-left: 30px;
}
/* MIDDLE */

/* RIGHT */
.login-btn-container{
    display: grid;
    place-content: center;
}
.login-btn{
    padding: 15px;
    border-radius: 5px;
    background-color: #7ACD9E;
    transition: all 0.5s;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 15px -2px gray;
    letter-spacing: 2px;
}
.login-img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.login-btn a{
    font-size: 14px !important;
}
.login-btn:hover{
    background-color: #548f6e;
    scale: 1.1;
    transition: all 0.5s;
    color: #fff;
}
/* RIGHT */

/* GENERAL */
.logo a,
.main-btns a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;
    align-items: center;
}
.logo a:hover,
.main-btns a:hover{
    color: #7ACD9E;
    transition: color 0.5s;
}

#btn0{
    position: relative;
    left: -100%;
    animation: slide-in 2s forwards;
}
#btn1{
    position: relative;
    left: -100%;
    animation: slide-in 1.5s forwards;
}
#btn2{
    position: relative;
    left: -100%;
    animation: slide-in 1.2s forwards;
}
#btn3{
    position: relative;
    left: -100%;
    animation: slide-in 0.8s forwards;
}
#btn4{
    position: relative;
    left: -100%;
    animation: slide-in 0.7s forwards;

}

/* ANIMATION  */
@keyframes slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0; /* Llega a su posición actual */
    }
}

/* GENERAL */
/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER */

/* PRIVACIDAD - PRIVACIDAD - PRIVACIDAD - PRIVACIDAD - PRIVACIDAD - PRIVACIDAD - PRIVACIDAD */

.privacidad-terminos {
    margin-top: 150px;
    margin-inline: 20%;
}
.container-privacidad {
}
.text {
    font-family: 'Montserrat', sans-serif;
}
.part1 {
}
.part2 {
    display: flex;
}
.left {
    display: grid;
    width: 100%;
    align-items: center;
}
.right {
    display: grid;
    text-align: center;
}
.part3 {
}
.part4 {
}
.part5 {
}
.part6 {
}
.part7 {
}
.part8 {
}
.img{
    padding:20px;
    display: flex;
    justify-content: center;
}
.bracket-text{
    font-size: 18px;
}
/* PRIVACIDAD - PRIVACIDAD - PRIVACIDAD - PRIVACIDAD - PRIVACIDAD - PRIVACIDAD - PRIVACIDAD */

/* PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB */
.electroforesis {
    margin-top: 110px;
    margin-inline: 10%;
}
.electroforesis-container {
    display: grid;
    gap: 20px;
}
.electroforesis-title {
    margin-top: 30px;
    text-align: center;
    color: #548f6e;
}
.electroforesis-title h2{
    font-weight: 600;
    display: inline;
    margin-right: 5px;
}
.electroforesis-title h3{
    font-weight: 400;
    display: inline;
    font-size: 28px;
}
.conocimientos {
}
.title-conocimientos {
    text-align: center;
    font-size: 18px;
}
.conocimientos-container {
    display: flex;
    justify-content: center;
}
.conocimientos-container a{
    text-decoration: none;
    transition: scale 0.5s;
}
.conocimientos-container a:hover{
    scale: 1.05;
    transition: scale 0.5s;
}
.conocimiento {
    margin: 15px 5px;
    background-color: #548f6e;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 15px -2px gray;
}
.observaciones-a{
    text-decoration: none;
    margin-bottom: 30px;
}
.observaciones{
    margin: 0px 5px;
    background-color: #548f6e;
    color: #fff;
    padding: 12px 40px;
    border-radius: 50px;
    box-shadow: 0 4px 15px -2px gray;
    transition: background-color 0.2s;
}
.final {
    padding: 20px;
    margin-inline: 15px;
}
.introduccion-title {
    color: #548f6e !important; 
    font-size: 25px ;
    font-weight: 400;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}
.options-introduccion{
    display: grid;
    justify-items: start;
}
.botones-expansibles{
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    margin: 5px;
    background-color: transparent;
}
.botones-expansibles:hover{
}
.objetivos-body{
    justify-items: start !important;
}
.option-introduccion {
    display: flex;
    margin: 10px;
    font-size: 17px;
    align-items: baseline;
}
.option-referencias{
    display: flex;
    margin: 10px;
    font-size: 17px;
    align-items: center;
}
.options-referencias{
    margin-top: 20px;
}
.hide{
    display: none;
}
.hide div{
    margin: 10px;
    font-size: 16px;
}
.img-small{
    width: 40px;
    height: 40px;
}
.extra-flex{
    display: flex;
}
.show {
    display: block;
}
.show-2{
    display: block;
}
.rotate-down {
    transform: rotate(90deg);
    transition: transform 0.6s ease; /* Ajusta la duración y el efecto de la transición según tus preferencias */
}
.rotate-up {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}
.right-img-objetivos{
    margin-right: 5px;
    width: auto;
    height: 15px;
}
.point-img-objetivos{
    margin-right: 5px;
    width: 8px;
    height: auto;
}
.objetivos {
}
.objetivos-title {
}
.objetivos-container {
}
.objetivo {
}
.laboratorios {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.btn-laboratorios {
    padding: 15px;
    border-radius: 5px;
    background-color: #7ACD9E;
    transition: all 0.5s;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 15px -2px gray;
    letter-spacing: 2px;
}
.btn-laboratorios:hover{
    background-color: #548f6e;
    scale: 1.05;
    transition: all 0.5s;
    color: #fff;
}
.accordion-body{
    display: grid;
    justify-items:center;
}
.bot-container-options{
    display: grid;
    grid-template-columns: 50% 50%;
}
#accordion-title-bibliografia{
    color: #548f6e;
    font-size: 25px;
    text-transform: uppercase;
}
/* PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB - PRE-LAB */

/* EXPERIMIENTO FINALIZADO - EXPERIMIENTO FINALIZADO - EXPERIMIENTO FINALIZADO - EXPERIMIENTO FINALIZADO */
.main{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 15px;
}
.introduccion {
}
.test-evaluativo {
    margin-top: -150px;
}
.test-evaluativo-btn {
    text-decoration: none;
    color: #fff;
    background-color: #548f6e;
    padding: 15px 40px;
    border-radius: 40px;
    box-shadow: 0 4px 15px -2px gray;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    width: 250px;
}
.test-evaluativo-btn:hover, .observaciones:hover{
    background-color: #457058;
    transition: background-color 0.5s;
}
.adn-final-img{
    transform: rotate(90deg);
}
.electroforesis-final {
    margin-inline: 10%;
}
.electroforesis-container-final {
}
.electroforesis-title-final {
    margin-top: 30px;
    text-align: center;
    color: #548f6e;
}
.adn-title{
    display: flex;
    flex-wrap: nowrap;
}
.title-final{
    display: flex;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
}
.title-final h2{
    margin-inline: 20px;
    margin-bottom: 0 !important;
    font-size: 40px !important;
    text-align: center;
    color: #66ad86;
    font-weight: 800;
}
.preguntas-final{
    display: flex;
    margin: 10px;
    font-size: 17px;
    text-align: start;
}

/* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER */
.footer{
    margin-top: 60px;
    height: 100px;
    width: 100%;
    position: relative; /* Establece la posición como relativa */
    box-shadow: 0px 0px 15px 2px gray;
}
.footer-container{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    height: 100%;
    place-items: center;
}

/* LEFT */
.footer-text-container {
    width: 600px;
    height: 130px;
    background-color: rgb(219 219 219);;
    box-shadow: 0px 0px 15px 2px gray;
    display: grid;
    place-items: center;
    justify-items: start;
}
.footer-text{
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* LEFT */

/* MIDDLE */
.footer-icons {
    width: 300px;
    height: 100px;
    background-color: rgb(219 219 219);
    display: inline-block;   
    box-shadow: 0px 0px 15px 2px gray;
}
.icons-container{
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.footer-icon-ilm{
    width: 60px;
    height: auto;
    margin-inline: 10px;
    
}
.footer-icon-uba{
    width: auto;
    height: 100px;
    margin-inline: 10px;
}
.dropdown-item{
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
    padding: 5px !important;
}
/* MIDDLE */


/* RIGHT */
.carta {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
}
/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}
.socialSvg {
    width: 17px;
}
.socialSvg path {
    fill: rgb(255, 255, 255);
}
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

/* ANIMATION */
@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER */

/* CONTACTANOS */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Montserrat:wght@100;200;300;500;700&family=Pixelify+Sans&family=Quicksand:wght@300&family=Source+Code+Pro:ital@1&display=swap');

h1{

}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #548f6e;
    margin: 0;
}
.back-page {
    display: flex;
    justify-content: flex-start;
}
.back-page-img {
    width: 70px;
    height: auto;
    border-radius: 100%;
    transition: background-color 0.2s;
    animation: aparecer 1s forwards;
}
.back-page-img:hover{
    background-color: #548f6e;
    transition: background-color 0.2s;
}
.acceder {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    place-items: center;
}
.container-acceder {
    width: 500px;
    height: 650px;
    background-color: #7ACD9E;
    box-shadow: 10px 10px 0px 0px #4d926d;
    display: grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
}
.division{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 15% 70% 15%;
}
.logo-title{
    display: flex;
    justify-content: center;
}
.logo-title h1{
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.login-container{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.input{
    border: none;
    margin: 10px;
    width: 350px;
    box-shadow: 7px 7px 0px 0px #4d926d;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 13px;
}
.login-text{
    margin-top:10px;
    padding: 15px 40px;
    background-color: #6ec092;
    transition: all 0.5s;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    display: flex;
    box-shadow: 7px 7px 0px 0px #4d926d;
    letter-spacing: 2px;
}
.login-text:hover,
.register-text:hover{
    background-color: #66ad86;
}
.forgot{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.forgot-text{
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #4d926d;
    transition: color 0.4s;
}
.forgot-text:hover{
    color: rgb(71, 69, 69);
    transition: color 0.4s;
}
.register-container{
    width: 100%;
    height: 100%;
    display: inline-flex;
    place-content: center;
    align-items: center;
}
.register-text{
    padding: 15px;
    background-color: #6ec092;
    transition: all 0.5s;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    display: flex;
    box-shadow: 7px 7px 0px 0px #4d926d;
    letter-spacing: 2px;
}
.not-account-text{
    margin-right: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.container-acceder{
    animation: aparecer 1s forwards;
}

@keyframes aparecer {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.mensaje{
    display: flex;

}
.text-area{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 10px 10px 0px 0px #4d926d;
    border: none;
    width: 350px;
    margin: 10px;
    margin-bottom: 20px;
    height: 100%;
}
