
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Montserrat:wght@100;200;300;500;700&family=Pixelify+Sans&family=Quicksand:wght@300&family=Source+Code+Pro:ital@1&display=swap');

$tipografia: 'Montserrat', sans-serif;

@import "partials/header.scss";
@import "partials/footer.scss";

// index.html
@import "partials/index/sector1.scss";
@import "partials/index/sector2.scss";
@import "partials/index/sector3.scss";

// lab.html
@import "partials/lab/lab.scss";
@import "partials/lab/laboratorios.scss";
@import "partials/lab/prelab.scss";

// text
@import "partials/text/privacidad.scss";
@import "partials/text/terminos.scss";

// responsive
@import "partials/responsive/responsive.scss";
@import "partials/responsive/laboratorios_r.scss";
@import "partials/responsive/prelab_r.scss";
@import "partials/responsive/lab-2_r.scss";
@import "partials/responsive/lab-1_r.scss";


*{
    padding: 0;
    margin: 0;
    font-family: $tipografia;
}

