@media (max-width: 768px){
    .laboratorio{
        .laboratorio-container{
            grid-template-columns: none;
            .video0-5{
                height: unset;
                .video-opciones{
                    flex-wrap: nowrap;
                    button{
                        img{
                            width: 70px;
                        }
                        h5{
                            font-size: 15px;
                        }
                        h6{
                            font-size: 12px;
                        }
                    }
                }
            }
            .video-s{
                margin-inline: 10px;
                margin-block: 0;
                width: 93%;
                height: unset;
                .video{
                    height: 220px;
                }
            }
            .video1, .video2{
                grid-template-rows: 60% 40%;
                margin-inline: 10px;
                margin-block: 0;
                width: 93%;
                height: unset;
                .video-opciones{
                    .botones{
                        margin-inline: 10px;
                        .detener-btn{
                            margin: 0;
                        }
                    }
                    .top{
                        text-align: center;
                        align-items: flex-end;
                    }
                    .bot{
                        display: flex;
                        flex-direction: row;
                    }
                }
                .video-opciones-l{
                    .img-voltometro{
                        width: 100px;
                    }
                    .video-opciones-2{
                        .top{
                            margin-bottom: 0;
                            h6{
                                font-size: 12px;
                                margin: 0;
                            }
                            .detener-btn{
                                font-size: 13px;
                                padding: 5px 12px;
                            }
                        }
                        .bot{
                            flex-direction: row;
                            margin: 0;
                            .botones-volt{
                                .conocimiento{
                                    font-size: 10px;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
                .video-opciones{
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    padding-top: 20px;
                    button{
                        img{
                            width: 70px;
                        }
                        h5{
                            font-size: 15px;
                            color: black;
                        }
                        h6{
                            font-size: 12px;
                            color: black;   
                        }
                    }
                }
                .video-opciones-grid{
                    display: grid;
                    grid-template-columns: 30% 30% 30%;
                    align-content: center;
                    justify-items: center;
                    justify-content: center;
                    .botones{
                        margin-inline: 10px;
                        .detener-btn{
                            margin: 0;
                        }
                    }
                    button{
                        img{
                            width: 70px;
                        }
                        h5{
                            font-size: 15px;
                            color: black;
                        }
                        h6{
                            font-size: 12px;
                            color: black;
                        }
                    }
                }
            }
            .pregunta{
                display: grid;
                justify-items: center;
                .observaciones-container{
                    .hoja{
                        textarea{
                            height: 200px;
                        }
                    }
                }
                .accordion{
                    .accordion-item{
                        .accordion-header{
                            .accordion-button{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .img-options{
        width: 50px;
    }
}