@media (max-width: 768px){
    .laboratorio{
        .laboratorio-container, .laboratorio-container-1{
            grid-template-columns: none;
            gap: 20px;
            .video0{
                grid-template-rows: 45% 55%;
                margin-inline: 10px;
                margin-block: 0;
                width: 93%;
                height: unset;
                .video{
                    video{
                        display: flex;
                    }
                }
                .video-opciones-grid{
                    .botones{
                        .detener-btn{
                            font-size: 12px !important;
                        }
                    }
                    button{
                        img{
                            width: 70px;
                        }
                        h5{
                            font-size: 15px;
                        }
                        h6{
                            font-size: 12px;
                        }
                        .detener-btn{
                            font-size: 12px;
                        }
                    }
                }
                .video-opciones{
                    align-items: flex-start;
                    padding-top: 20px;
                    button{
                        img{
                            width: 70px;
                        }
                        h5{
                            font-size: 15px;
                            color: black;
                        }
                        h6{
                            font-size: 12px;
                            color: black;
                        }
                    }
                }
            }
            .pregunta{
                display: grid;
                justify-items: center;
                .observaciones-container{
                    .hoja{
                        textarea{
                            height: 200px;
                        }
                    }
                }
                .accordion{
                    .accordion-item{
                        .accordion-header{
                            .accordion-button{
                                font-size: 12px;
                            }
                        }
                    }
                }
                .observaciones-container{
                    margin-top: 20px;
                    .title{
                        font-size: 14px;
                    }
                    .hoja{
                        textarea{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .options-videos{
        display: grid;
        padding-top: 20px;
        justify-items: center;
        justify-content: end;
        padding-block:0 ;
        .accordion{
            width: 180% !important;
            margin: 0 !important;
            .accordion-item{
                .accordion-header{
                    .accordion-button{
                        font-size: 12px;
                    }
                }
            }
        }
        .options-videos-container{

        }
    }
    .img-options{
        width: 50px;
    }
}