@media (max-width: 768px){
    .electroforesis{
        margin-top: 80px;
        margin-inline: 10px;
        .electroforesis-container{
            justify-items: center;
            .electroforesis-title{
                h2{
                    font-size: 22px;
                }
                h3{
                    font-size: 20px;
                }
            }
            .conocimientos{
                .title-conocimientos{
                    font-size: 16px;
                }
                .conocimientos-container{
                    flex-wrap: wrap;
                    align-items: center;
                    a{
                        .conocimiento{
                            margin: 10px 5px;
                            font-size: 10px;
                        }
                    }
                }
            }
            .introduccion{
                display: grid;
                justify-items: center;
                .introduccion-title{
                    font-size: 22px;
                }
                .accordion{
                    .accordion-item{
                        .accordion-button{
                            font-size: 12px;
                        }
                    }
                }
            }
            .accordion{
                .accordion-item{
                    .accordion-header{
                        .introduccion-title{
                            font-size: 12px;
                        }
                    }
                }
            }
            .laboratorios{
                .btn-laboratorios{
                    font-size: 12px;
                    padding: 12px;
                }
            }
        }
    }
    .img-propia{
        width: 100%;
    }
    .btn-laboratorios{
        margin-bottom: 50px;
    }
}