.privacidad-terminos {
    margin-top: 150px;
    margin-inline: 20%;
}
.text {
    font-family: 'Montserrat', sans-serif;
}
.part2 {
    display: flex;
}
.left {
    display: grid;
    width: 100%;
    align-items: center;
}
.right {
    display: grid;
    text-align: center;
}
.img{
    padding:20px;
    display: flex;
    justify-content: center;
}
.bracket-text{
    font-size: 18px;
}