/* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER */
.footer{
    height: 100px;
    width: 100%;
    position: relative; /* Establece la posición como relativa */
    box-shadow: 0px 0px 15px 2px gray;
}
.footer-container{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    height: 100%;
    place-items: center;
}

/* LEFT */
.footer-text-container {
    width: 600px;
    height: 130px;
    background-color: rgb(219 219 219);;
    box-shadow: 0px 0px 15px 2px gray;
    display: grid;
    place-items: center;
    justify-items: start;
}
.footer-text{
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* LEFT */

/* MIDDLE */
.footer-icons {
    width: 300px;
    height: 100px;
    background-color: rgb(219 219 219);
    display: inline-block;   
    box-shadow: 0px 0px 15px 2px gray;
}
.icons-container{
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.footer-icon-ilm{
    width: 60px;
    height: auto;
    margin-inline: 10px;
    
}
.footer-icon-uba{
    width: auto;
    height: 100px;
    margin-inline: 10px;
}
/* MIDDLE */


/* RIGHT */
.carta {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
}
/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}
.socialSvg {
    width: 17px;
}
.socialSvg path {
    fill: rgb(255, 255, 255);
}
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

/* ANIMATION */
@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
